/* main */
body {
    margin: 0;
}

/* header */
.nav {
    padding: 10px 10%;
}

/* login form */
section {
    background-image: url('../images/back.jpeg');
    height: 33rem;
    width: 100%;
    background-size: cover;
}
.login-form {
    background-color: white;
    padding: 25px;
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h2 {
    font-family: "source-sans-pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 50;
    margin-top: -10px;
    color: #888;
}
h3 {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #555;
    margin-top: 0;
    margin-bottom: 30px;
}
span{
    color: red;
    font-size: 15px;
}
input+label {
    color: #777;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 7px;
}
input, label {
    margin-left: 0;
}
input {
    margin-bottom: 10px;
}
.username input {
    display: block;
    width: 98%;
    height: 25px;
}
.password input {
    display: block;
    width: 98%;
    height: 25px;
}
.password label {
    margin-top: 10px;
    display: block;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #777;
    margin-bottom: 5px;
}
.username label {
    display: block;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #777;
    margin-bottom: 5px;
}
.forgot-password {
    text-align: right;
    margin: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 23px;
    color: rgb(2,127,173);
}
.forgot-password:hover {
    color: red;
}
hr {
    opacity: 0.5;
}
.btn {
    font-weight: 900;
    padding: 10px 15px;
    margin-top: 13px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(2,127,173);
}

/* footer */
ul {
    margin-left: 5%;
}
li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    margin-top: -10px;
    padding-left: 20px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(2,127,173);
}
p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    font-size: small;
    color: #777;
}
p span {
    padding-left: 10px;
    color: rgb(2,127,173);
}

